// contact.scss

#contact {
  text-align: center;
  .container {
    height: calc(100vh - $header-height - $footer-height);
    @include flex(center, center);
  }

  h2 { 
    font-size: 6em; 
  }
  .address {
    li { margin-bottom: 1em;}
    a { 
      &:hover { text-decoration: underline; }
    }
    color: #666;
    h4 { color: #333; font-size: 22px; }
  }

}