// _var.scss

$main-color: #00b894;
$sub-color: #3a4042;
$bg-light: #f0f0f0;
$bg-light-gray: #d3d3d3;
$text-dark: #333;
$text-light: #fff;

$bg-box-color1: #b5eaea; 
$bg-box-color2: #cce6ba; 
$bg-box-color3: #ebd7c3; 

$header-height: 70px; // header 높이값
$footer-height: 60px; // footer 높이값